<footer>
  <div class="row expanded callout secondary">

    <div class="large-4 columns">
      <h5>FLICKR IMAGES</h5>
      <div class="row small-up-4">
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
      </div>

    </div>

    <div class="large-4 columns">
      <h5>FLICKR IMAGES</h5>
      <span class="secondary label">Space</span>
      <span class="secondary label">Galaxies</span>
      <span class="secondary label">Milky Way</span>
      <span class="secondary label">Black Holes</span>
      <span class="secondary label">Rebels</span>
      <span class="secondary label">Death Star</span>
      <span class="secondary label">Republic</span>
      <span class="secondary label">R2D2</span>
    </div>

    <div class="large-4 columns">
      <h5>RANDOM MAG</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quam voluptatum vel repellat ab similique molestias molestiae ea omnis eos, id asperiores est praesentium, voluptate officia nulla aspernatur sequi aliquam.</p>
    </div>

  </div>
  <div class="row expanded">

    <div class="medium-6 columns">
      <ul class="menu">
        <li><a href="#">Legal</a></li>
        <li><a href="#">Partner</a></li>
        <li><a href="#">Explore</a></li>
      </ul>
    </div>

    <div class="medium-6 columns">
      <ul class="menu align-right">
        <li class="menu-text">Copyright © 2099 Random Mag</li>
      </ul>
    </div>
  </div>

</footer>
